/* fonts imported
nunito sans
playfair
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display:wght@600&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.all-popup-wrapper {
  height: 97vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBoxWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(80 79 79 / 43%);
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 999999;
}
:root {
  /* colors variables to use it easily */
  --orange: #be4217;
  --green: #71b646;
  --white: #fff;
  --black: #000;
  --disabled: #747474;
  --gray: #f2f2f2;
}
/* css styles for login and signup sliding animation */
.login-transform {
  transform: translateX(-187px);
  transition: all 0.5s;
}
.signup-transform {
  transform: translateX(157px);
  transition: all 0.5s;
}
/* form including input fields are in this div: it includes components only in login.jsx */
.form-container {
  display: flex;
  width: 686px;
  justify-content: space-between;
}
/*css for signupForm component */
.container-signup {
  height: 635px;
  width: 816px;
  transition: all 0.5s;
}
/* styles for login container */
.login-container {
  height: 519px;
  width: 816px;
  transition: all 0.5s;
}
/* common styles for whole form */
.wrapper {
  font-family: "Nunito Sans";
  font-style: normal;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
  background-color: #fff;
  position: relative;
}
/* close button */
.close {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
  z-index: 66;
}
.defaultSvg {
  width: 365px;
  height: 685px;
  transition: all 1s;
}

/* style for login side only */
.loginPanel {
  position: relative;
  left: 33px;
  top: 40px;
  right: 80px;
  width: 338px;
  height: 451px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  gap: 16px;
  overflow: hidden;
}

/* style for signup side only */
.signupPanel {
  position: relative;
  left: 33px;
  top: 40px;
  right: 80px;
  width: 338px;
  height: 575px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  gap: 16px;
  overflow: hidden;
}
/* options : Login and signup */
.options {
  width: 330px;
  height: 46px;
  margin: 14px 0 0 0;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* only one option */
.option {
  font-weight: 600;
  font-size: 24px;
  line-height: 32.74px;
  text-decoration: none;
  color: var(--black);
  position: relative;
  cursor: pointer;
}
/* style when not selected */
.disabled {
  color: var(--disabled);
}
/* underline in option */
.Login_Form_line:after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  width: 50px;
  height: 2px;
  background-color: var(--orange);
}
/* style fot image in between option */
.logo img {
  height: 46px;
  width: 24px;
}
/* style for forms */
.loginForm,
.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* styles for wrapping input-feilds */
.input-box {
  height: 50px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  position: relative;
  /* width: 90%; */
}
.guest-form{
  width: 100%;
  padding: 0 10px;
}
.toggleLoginPassword{
  position: absolute;
  right: 20px;
  font-size: 20px;
}
/* styles for input fields */
.input-field {
  height: 36px;
  width: 307px;
  background-color: var(--gray);
  outline: none;
  border: none;
  border-radius: 8px;
  /* margin: 15px 0 0 0; */
  padding: 0px 18.74px;
  font-size: 16px;
}
/* focus and hover effect in input fields */
.input-field:focus,
.input-field:hover {
  background-color: var(--white);
  /* border: 0px solid var(--green); */
  box-shadow: inset 0px 0px 0px 2px var(--green);
}

/* style for forgot password */
.forgot-password {
  font-size: 16px;
  color: var(--orange);
  position: relative;
  display: flex;
  left: 85px;
  top: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 15px;
}
/* buttons section in form */
.buttons {
  display: flex;
  flex-direction: column;
  width: 298px;
  justify-content: center;
  align-items: center;
  position: relative;

  gap: 10px;
}
/* style for single button */
.button {
  height: 42px;
  font-size: 16px;
  color: var(--white);
  margin: 10px 0 0 0;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
}
.signup-btn {
  height: 42px;
  font-size: 16px;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 25px;
  margin: 10px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
}
/* style for login button */
.login-btn {
  width: 155.34px;
  background-color: var(--orange);
  cursor: pointer;
  top: 10px;
}
/* .recaptcha {
  margin: 10px 0;
} */
.login-btn:disabled {
  background-color: var(--disabled);
}



/* style for signup button */
.SignUp-btn {
  background-color: var(--orange);
  cursor: pointer;
  width: 155.34px;
  border-radius: 25px;
}
.guest-btn {
  background-color: var(--green);
  cursor: pointer;
  width: 185px;
  border-radius: 25px;
}
/* .guest-btn {
  width: 185px;
  background-color: var(--green);
  cursor: pointer;
} */

/* styles for Oauth section */
.auth {
  display: flex;
  justify-content: center;
  position: relative;
  /* bottom: 21px; */
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.orBar {
  display: block;
  width: 130px;
  height: 0px;
  border: 1px solid #d9d9d9;
}
.orText {
  display: block;
}
.or {
  position: relative;
  top: 25px;
  display: flex;
  font-size: 18px;
  color: var(--disabled);
  align-items: center;
  gap: 15px;
  height: 20px;
}
.auth p {
  line-height: 130%;
  font-size: 12px;
  color: var(--disabled);
  margin-top: 15px;
}
.auth-icons {
  position: relative;
  display: flex;
  gap: 55px;
  justify-content: center;
  height: 15px;
  bottom: 21px;
}
.icons {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--disabled);
}
.dont {
  margin-top: 10px;
  position: relative;
  text-align: center;
  /* bottom: 15px; */
  top: 7px;
  font-size: 14px;
  line-height: 2px;
  color: var(--disabled);
}
.dont span {
  cursor: pointer;
  color: var(--orange);
}
.terms {
  margin-top: 24px;
  font-size: 12px;
  color: var(--disabled);
  line-height: 130%;
  letter-spacing: 0.005em;
  font-style: normal;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}
.termsContent {
  text-align: center;
  width: 278px;
}
.highlight {
  color: #3f79ff;
}

.send-otp-btn{
  overflow: visible;
    position: absolute;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    /* height: 40px; */
    width: 110px;
    /* font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'; */
    color: #066a05;
    text-transform: uppercase;
    background: transparent;
    border-radius: 40px;
    /* text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3); */
    right: 0;
}



/* popup */

.popup-wrapper {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);

  width: 440px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 21px;
  cursor: pointer;
}
.check-mark {
  color: var(--green);
  font-size: 50px;
}
.checkout-text {
  font-family: nunito sans;
  font-size: 25px;
  color: var(--black);
}
.ready {
  font-family: nunito sans;
  font-size: 16px;
  color: var(--black);
}
.option-btn {
  display: flex;
  gap: 20px;
}
.popup-login-btn {
  width: 130px;
  height: 45px;
  background-color: var(--orange);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.popup-guest-btn {
  width: 130px;
  height: 45px;
  color: var(--black);
  background: #ffffff;
  border: 1px solid #be4217;
  border-radius: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.continue {
  display: flex;
  align-items: center;
  color: var(--orange);
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  gap: 10px;
  cursor: pointer;
}

/* continue as guest */

.guest-bg-container{
  display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(80 79 79 / 43%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    align-items: center;
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.guest-container {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  width: 816px;
  height: 585px;
  display: flex;
  background: var(--white);
  border-radius: 10px;
}
.guest-svg {
  width: 387px;
  height: 589px;
  border-radius: 8px;
}
.guest-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 338px;
  height: 545px;
  top: 30px;
  left: 30px;
  background: var(--white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  z-index: 61;
}

.guest-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.back-to-option {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 66;
}
.continue-title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.guest-line:after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 112px;
  height: 2px;
  background-color: var(--orange);
}
.input-file-box{
  height: 75px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.guest-file-input{
  height: 36px;
  width: 278px;
  background-color: var(--gray);
  outline: none;
  border: none;
  border-radius: 8px;
  /* margin: 15px 0 0 0; */
  padding: 6px 18.74px;
  font-size: 12px;

}

.guest-fullname-input,
.guest-phone-number-input,
.guest-address-input,
.guest-otp,
.input-select,
.guest-file-input{
  position: relative;
  height: 36px;
  width: 100%;
  /* min-width: 50px; */
  background-color: var(--gray);
  outline: none;
  border: none;
  border-radius: 8px;
  /* margin: 15px 0 0 0; */
  padding: 0px 18.74px;
  font-size: 14px;

}
 

.input-select-box{
  height: 36px;
  width: 278px;
 
  outline: none;
  border: none;
  border-radius: 8px;
  margin: 15px 0 0 0;
  /* padding: 0px 18.74px; */
  font-size: 14px;
  /* color: #000; */
}
.input-select{
  height: 100%;
  width: 100%;
  background-color: var(--gray);
  border-radius: 8px;
  outline: none;
  padding: 0 18px;
  /* color: #000; */
  border: none;
}
.input-select option{
  color: #000;
}

.qr-display{
  height: 157px;
  width: 100%;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000!important;
}

.qr-display img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}


.guest-input-box {
  height: 175px;
  padding: 5px 0;
}
.guest-note-input {
  height: 150px;
  width: 278px;
  resize: none;
  background-color: var(--gray);
  outline: none;
  border: none;
  border-radius: 8px;
  margin: 15px 0 0 0;
  padding: 18.74px;
  font-size: 15px;
}
.guest-fullname-input:hover,
.guest-phone-number-input:hover,
.guest-note-input:hover,
.guest-address-input:hover,
.guest-address-input:focus,
.guest-fullname-input:focus,
.guest-phone-number-input:focus,
.guest-note-input:focus {
  background-color: var(--white);
  /* border: 0px solid var(--green); */
  box-shadow: inset 0px 0px 0px 2px var(--green);
}
.guest-submit-btn {
  margin: 20px 0;
  height: 42px;
  width: 115px;
  font-size: 16px;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: var(--orange);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

@media screen and (max-width: 826px) {
  .login-svg {
    width: 310px;
    height: 580px;
    transition: all 1s;
  }
  .login-container {
    height: 519px;
    width: 689px;
  }
  .loginPanel {
    left: 15px;
  }
  .container-signup {
    height: 633px;
    width: 689px;
  }
  .signup-svg {
    width: 338px;
    height: 635px;
  }
  .signupPanel {
    left: 5px;
  }
}

@media screen and (max-width: 820px) {
  /* .login-container {
     background-color: #124578; 
  } */
  .defaultSvg,
  .guest-svg {
    display: none;
  }
  .wrapper,
  .guest-container {
    justify-content: center;
  }
  .login-svg {
    display: none;
  }
  .loginPanel,
  .guest-panel {
    left: 0;
  }

  .guest-container{
    width: 90%
  }

}
@media only screen and (max-width: 575px){
  .guest-panel{
    /* top: 50px; */
    top: 25px;
    box-shadow: none;
    width: 100%;

    /* pointer-events: none; */
  }
}

@media screen and (max-width:460px) {
  .guest-panel{
    top: 50px;
  }

}