.product-div {
  width: 274px;
  /* min-width: 150px;
  max-width: 274px; */
  /* width: 100%; */
  height: 421px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: auto !important;
  cursor: pointer;
  transform: scale(1);
  transition: box-shadow 0.2s, transform 0.2s;
}

.product-div:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02),
    6px 6px 5px 4px rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
  transition: box-shadow 0.2s, transform 0.2s;
}

.product-img-container {
  position: relative;
  width: 100%;
  height: 45%;
  overflow: hidden;
  padding: 0 4px 0 0;
}

.product-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.product-img-container:hover > .product-overlay {
  background-color: black;
  transition: background-color 0.5s ease;
}

.discount-percent {
  position: absolute;
  padding: 2px 15px;
  background-color: #71b646;
  top: 0;
  left: 0;
  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.small-description {
  position: absolute;
  padding: 2px 15px;
  background-color: #d9d9d9;
  top: 0;
  left: 0;
  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #216600;
  text-align: center;
  white-space: nowrap;
}

.product-options {
  width: 45px;
  height: 70%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  /* padding: 7px 0; */
  cursor: pointer;
  top: 4px;
  left: 200%;
  transform: translate(-100%, 0);
  transition: left 0.5s ease;
}

.product-img-container:hover > .product-options {
  top: 4px;
  left: 100%;
  transform: translate(-100%, 0);
  transition: left 0.5s ease;
}

.product-icons-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-shuffle-icon {
  color: black;
  font-size: 25px;
  transition: color 0.2s;
}

.product-maximize-icon {
  color: black;
  font-size: 25px;
  transition: color 0.2s;
}

.product-heart-icon {
  color: black;
  font-size: 25px;
  transition: color 0.2s;
}

.product-shuffle-icon:hover {
  color: #be4217;
  transition: color 0.2s;
}

.product-maximize-icon:hover {
  color: #be4217;
  transition: color 0.2s;
}

.product-heart-icon:hover {
  color: #be4217;
  transition: color 0.2s;
}

.square-arrow {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  top: 50%;
  left: -5%;
  transform: translate(-100%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.icon-info-container {
  position: absolute;
  padding: 2px 6px;
  background-color: black;
  top: 50%;
  left: -10%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.2s;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.product-name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.005em;
  text-transform: capitalize;
  align-self: start;
  color: #000000;
}

.product-amt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-crossed-price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.005em;

  color: #c1c1c1;
}

.product-price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.005em;

  /* body Text color */

  color: #747474;
}

.product-stock {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* identical to box height, or 16px */

  letter-spacing: 0.005em;
  text-transform: uppercase;
  text-align: right;

  /* 4rd color */
}

.product-form {
  width: 100%;
  /* height: 34px; */
  height: 25%;
  height: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-quantity {
  display: flex;
  width: 100%;
  height: 34px;
  justify-content: space-between;
  position: relative;
}

.quantity-container {
  display: flex;
  /* width: 45%; */
  width: 100px;
  height: 34px;
  /* height: 100%; */
  position: relative;
}

.quantity-input {
  display: inline-block;
  width: 40%;
  height: 100%;
  position: relative;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #000000;
  text-align: center;
}

.quantity-input,
.quantity-input:hover,
.quantity-input:focus,
.quantity-input:active {
  background: white;
  border: 1px solid black;
  color: black;
  outline: none;
  transition: border 0.2s;
  padding: 0 5px;
}

.quantity-input {
  border: 1px solid #d9d9d9;
  transition: border 0.2s;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.subtract-btn {
  display: inline-block;
  width: 30%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-right: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: white;
  transition: border-color 0.2s, background-color 0.2s;
}

.subtract-btn:hover {
  background-color: #be4217;
  border-color: #be4217;
  transition: border-color 0.2s, background-color 0.2s;
}

.subtract-btn:hover > .minus-sign {
  background-color: white;
  transition: background-color 0.2s;
}

.add-btn {
  display: inline-block;
  width: 30%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-left: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: white;
  transition: border-color 0.2s, background-color 0.2s;
}

.add-btn:hover {
  background-color: #71b646;
  border-color: #71b646;
  transition: border-color 0.2s, background-color 0.2s;
}

.add-btn:hover > .plus-sign-horizontal,
.add-btn:hover > .plus-sign-vertical {
  background-color: white;
  transition: background-color 0.2s;
}

.minus-sign,
.plus-sign-horizontal,
.plus-sign-vertical {
  width: 50%;
  height: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: background-color 0.2s;
}

.plus-sign-vertical {
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
}

.dropdown-unit-container {
  display: inline-block;
  width: 80px;
  height: 34px;
  /* width: 35%; */
  /* height: 100%; */
  position: relative;
}

.dropdown-unit {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #000000;
  cursor: pointer;
}

.dropdown-unit,
.dropdown-unit:hover,
.dropdown-unit:focus,
.dropdown-unit:active {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  outline: none;
  transition: border 0.2s;
  padding: 0 5px;
}

.dropdown-unit {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  transition: border 0.2s;
}

/* .dropdown-unit {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.dropdown-unit::-ms-expand {
  display: none;
} */

.cart-button {
  background-color: #be4217;
  width: 100%;
  position: relative;
  height: 40px;
  border: none;
  border-radius: 25px;
  overflow: hidden;
}

.submit-cart {
  background-color: transparent;
  border: none;
  color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  cursor: pointer;
}

.submit-cart-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-125%, -50%);

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #ffffff;
  pointer-events: none;
  transition: top 0.6s, left 0.6s, transform 0.6s;
}

.submit-cart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(25%, -50%) scaleX(-1);
  color: white;
  pointer-events: none;
  font-size: 25px;
  font-weight: 400;
  transition: top 0.6s, left 0.6s, transform 0.6s;
  /* transition-delay: 0.3s; */
}

.cart-button:hover > .submit-cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
  transition: top 0.6s, left 0.6s, transform 0.6s;
}

.cart-button:hover > .submit-cart-txt {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  transition: top 0.6s ease-out, left 0.6s ease-out, transform 0.6s ease-out;
  transition-delay: 0.14s;
}

/* .submit-cart-txt-animation {
  animation: submit-cart-txt-anime 0.6s ease-out 0.14s;
}
  
@keyframes expand-cart-overlay2 {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-125%, -50%);
    }

    100% {
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
    }
} */

@media only screen and (max-width: 680px) {
  .product-div-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 30px;
    margin: 0px auto;
  }

  .product-div {
    /* width: 190px;
    height: 300px; */
    min-width: 190px;
    max-width: 250px;
    width: 100%;
    max-height: 1000px;
  }

  .product-amt {
    flex-wrap: wrap;
  }

  .product-quantity {
    flex-wrap: wrap;
  }

  .product-form {
    width: 100%;
    /* height: 34px; */
    height: 35%;
  }

  .product-div:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
    transform: scale(1);
    transition: box-shadow 0.2s, transform 0.2s;
  }
}

@media only screen and (max-width: 535px) {
  .product-div-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 30px;
    margin: 0px auto;
  }

  .product-div {
    /* width: 190px;
    height: 300px; */
    min-width: 140px;
    max-width: 250px;
    width: 100%;
    height: 490px;
  }

  .product-amt {
    flex-wrap: wrap;
  }

  .product-quantity {
    margin-bottom: 20px;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .product-form {
    width: 100%;
    /* height: 34px; */
    height: 35%;
  }

  .product-div:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
    transform: scale(1);
    transition: box-shadow 0.2s, transform 0.2s;
  }
}
