.errorPage-container {
  margin: 225px auto 50px auto;
  display: grid;
  place-items: center;
  width: 100%;
}
.error-svg {
  position: absolute;
}
.errorPage-content {
  display: flex;
  gap: 20px;
  width: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.error-title-svg {
  position: relative;
  top: 50px;
  /* left: 107px; */
  right: 25px;
}

.errorPage-title {
  width: 312px;
  /* height: 69px; */

  color: rgba(30, 30, 30, 0.94);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 25px 0;
}

.errorPage-message {
  color: #444;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}

.errorPage-button {
  margin-top: 50px;
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 16px;
  background: #71b646;
  justify-content: center;
  align-items: center;
  gap: 16px;

  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.errorPage-container-image {
  max-height: 600px;
  max-width: 400px;
  transform: rotate(17deg);
}
.errorPage-container-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width:900px) {
  .errorPage-content {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width:800px){
  .errorPage-container {
    margin: 80px auto 0 auto;

  }
  .errorPage-message{
    width: 100%;
  }

  .errorPage-container-left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px){
  .errorPage-message {
    color: #444;
    font-family: Poppins;
    font-size: 19px;}


}

@media screen and (max-width: 350px){
  .errorPage-title{
    font-size: 50px;
  }
  .error-svg{
    top: 38px;
  }
}