* {
  font-family: "Nunito Sans";
}
.admin-container {
  position: relative;
  top: 200px;
  padding-bottom: 50px;
}

.add-product-container {
}
.add-product-form-container {
  width: 50%;
  border: 1px solid rgba(193, 190, 190, 0.6);
  padding: 25px 35px 25px;
  border-radius: 10px;
  margin: auto;
}
.add-product-form {
  display: grid;
  row-gap: 30px;
  column-gap: 15px;
  grid-template-columns: 50% 50%;
}
.admin-nav {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.admin-nav button {
  font-size: 20px;
  margin-right: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active-component {
  color: #2784d1;
  font-weight: 600;
  border-bottom: 1px solid !important;
}
.add-product-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.add-product-input {
  width: 95%;
  height: 54px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 16px;
}

#add-product-image {
  width: 100%;
  margin-top: 15px;
}

#add-product-image input {
  width: 99%;
}

.add-product-button {
  width: 80px;
  height: 38px;
  background: #be4217;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  border: none;
  margin-top: 20px;
}

/* for order table */
.order-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-admin-table {
  border: solid rgba(193, 190, 190, 0.5) 2px;
  border-radius: 15px;
}

#order-admin-thead th {
  padding: 18px 5px 20px 5px !important;
  text-align: center;
  border-bottom: 1px solid rgba(193, 190, 190, 0.5);
}
.order-table-rows {
  border-spacing: 0px !important;
}
.order-table-rows:nth-child(odd) {
  background-color: #ffffff;
}
.order-table-rows:nth-child(even) {
  background-color: #ebe6e699;
  border: #ebe6e699;
}
.order-table-rows td {
  text-align: center;
  padding: 18px 5px 20px 5px !important;
}

.admin-order-product-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 25px;
  margin-top: 20px;
}

.admin-order-main-content {
  /* margin-top: 10px; */
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  /* height: 350px; */
  /* scroll-snap-type: y mandatory;  */
  margin-bottom: 50px;
}
.admin-order-item {
  scroll-snap-align: start;
  width: 80%;

  background: #ffffff;

  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 10px 0;
  padding: 0 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.admin-schedule-item {
  margin-top: 15px;
  width: 20%;
  margin-left: 30px;
}
.admin-order-product-name {
  display: flex;
  gap: 10px;
}
.admin-order-product-details {
  width: 40%;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.admin-order-product-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  gap: 10px;
  margin-top: 15px;
  width: 7%;
  margin-bottom: 10px;
}

.admin-order-product-action button {
  padding: 10px;
  border-radius: 8px;
  color: white;
  width: 70px;
  cursor: pointer;
}
.order-button-start {
  background-color: #71b646;
  border: #71b646;
}

.order-button-cancel,
.order-button-delete {
  background-color: #be4217;
  border: #be4217;
}
.admin-order-titles {
  width: 90px;
}
.admin-order-delete-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.order-product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.order-product-subdetails {
  display: flex;
}

.subdetails-name {
  width: 320px;
}

.subdetails-quantity {
  width: 100px;
}

@media (max-width: 1600px) {
  .admin-order-item {
    flex-wrap: wrap;
  }

  .admin-schedule-item {
    margin-left: auto;
  }
  .admin-schedule-item,
  .admin-order-product-details {
    width: auto;
  }
  .admin-order-product-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: auto;
  }
}

@media (max-width: 580px) {
  .admin-order-item {
    flex-direction: column;
  }

  .admin-schedule-item,
  .admin-order-product-details,
  .admin-order-product-container {
    width: 100%;
  }

  .admin-schedule-item {
    margin-left: 0px;
  }

  .admin-order-product-container {
    margin-bottom: 30px;
  }
}
