.editBtn>button {
  background: #71b646;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;

  width: 71px;
  height: 36px;
  border: none;
  color: white;
  cursor: pointer;
}

.delBtn>button {
  border: none;
  background-color: white;
  cursor: pointer;
}

/*Add Pop Up CSS*/

.addpopup-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.25);
  color: black;
}

.addpop-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 40%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
  padding: 24.8px 0 15px 24px;
  transition: width 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pop-head {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.admin-close-btn {
  position: absolute;
  right: 10px;
  /* left: 95%;
  bottom: 94%; */
}

.admin-close-btn button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.addpop-container>form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 25px;
  height: auto;
}

.addpop-container>form>label {
  margin-bottom: 9px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.addpop-container>form>input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px 0 12px 18px;
  margin-bottom: 24px;
  outline: none;
}

.addpop-container>form>button {
  background: #be4217;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;

  width: 102px;
  height: 47px;
  padding: 12.5px 0;

  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .addpop-container {
    width: 80%;
  }
}