@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  font-family: "Nunito Sans";
}

button {
  cursor: pointer;
}

/* for loading */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-sub {
  margin: auto;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  /* background: #ffffff; */
}
.loading-sub h1 {
  color: #3498db;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cursor {
  cursor: pointer;
}

.app-container {
  padding: 1%;
  padding-top: 0% !important;
  padding-right: 2%;
}

.hide-div {
  display: none !important;
}

.show-div {
  display: block !important;
}

.admin-panel {
  display: flex;
  gap: 5px;
}

.admin-body {
  padding: 20px 35px;
  padding-top: 0px !important;
  min-width: 580px;
}

.profile {
  border-radius: 50%;
}

.admin-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.375rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.logo {
  transform: scale(0.8);
}

.logout-profile {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout-profile span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-profile-img {
  border-radius: 50%;
  height: 34px;
  width: 35px;
}

.logout-profile button {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  color: black;
  font-size: 1rem;
  position: relative;
  top: 4px;
}

.logout {
  /* position: absolute;
  top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 0px; */
  border-radius: 8px;
  gap: 5px;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 20px;
  width: 100px;
  color: #be4217;
  /* transition: height 0.2s ease-in-out; */
  overflow: hidden;
}

.logout-caption {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 35px;
  padding: 4% 8%;
  border-radius: 5px;
  color: #fffaf0;
  background-color: #404040;
  opacity: 0;
  transition: all 0.3s;
}

.logout:hover + .logout-caption {
  opacity: 0.8;
}

.logout-height-toggle {
  height: 40px;
  border: 1px solid #ccc;
}

.profile-details {
  /* display: flex; */
  /* width: fit-content; */
  width: max-content;
  max-width: 180px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-left: -10px;
}

.profile-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 22px;
  margin-top: 5px;
}

.profile-details h2 {
  /* font-family: "Nunito Sans"; */
  font-style: normal;
  width: max-content;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0px;
}

.profile-details p {
  /* font-family: "Nunito Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px;
  width: max-content;
  margin-top: 6px;
}
.nav-min {
  width: 110px;
  min-width: 100px;
  max-width: 110px;
  padding: 0px;
  margin: 0px;
}

.nav-text {
  opacity: 0 !important;
  transition: all 0.2s;
}

.nav-content ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav-active {
  color: #be4217 !important;
}

.nav-link:hover {
  color: #be4217;
}

.nav-link {
  text-decoration: none;
  color: #404040;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 35px;
  width: max-content;
  height: 25px;
}

.admin-nav {
  position: absolute;
  z-index: 1;
  width: 30px;
  border-radius: 11px;
  padding: 22.5px;
  background-color: white;

  padding-top: 10px;
  transition: all 0.3s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
}

.admin-nav:hover {
  width: 215px;
  position: absolute;

  z-index: 1;
}

.admin-nav:hover .nav-text {
  opacity: 1 !important;
}

.admin-nav:hover .nav-link {
  justify-content: flex-start;
}

.ham-admin {
  position: relative;
  z-index: 1;
  border: none;
  background: transparent;
  font-size: 2rem;
  display: block;
  /* padding: 0; */
  padding-bottom: 0px !important;
  height: 35px;
  /* margin: auto; */
  display: none;
  cursor: pointer;
  margin-top: 13px;
}

.nav-close {
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  margin-bottom: 5%;
  color: #be4217;
  display: none;
}

.nav-close span {
  cursor: pointer;
}
/* . input {
  border: solid green;
  display: block;
} */

.choose-file {
  background: #d9d9d9;
  border-radius: 5px;
  width: 93px;
  height: 30px;
  margin: 5% auto 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-head ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 2;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  width: 90px;
  background: #ffffff;
  border: 1px solid rgba(93, 96, 109, 0.2);
  border-radius: 5px;
  padding: 1%;
}

.img-head > ul > hr {
  border: 1px solid rgba(93, 96, 109, 0.2);
  width: 95%;
  margin: 0px;
}

.img-head > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  height: 30px;
  cursor: pointer;
}

.img-head > ul > li:hover {
  background: rgba(93, 96, 109, 0.1);
}

.updateImg-label {
  cursor: pointer;
}
.img-head {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.img-head button {
  color: #5d606d;
  font-size: 2rem;
  background: none;
  border: none;
}
.img-head-product {
  position: absolute;
  top: -8px;
  right: -5px;
  transform: scale(1.3);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.img-product-container {
  border: solid #5d606d66 2px;
  border-radius: 5px;
  position: relative;
}

.img-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 29px;
}

.img-body {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.img-index {
  z-index: 1 !important;
}

/* for dashboard */
.top-section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.top-section-dash {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 15px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
.dash-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash-icon > span {
  color: #be4217;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 5px;
}

.dash-icon > svg {
  width: 60px;
  aspect-ratio: 1;

  fill: #3498db;
}

.top-section-title {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0%;
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  line-height: normal;
}

.top-section-subtitle {
  margin-top: 2px;
  margin-bottom: 0px;
  color: var(--grey, #5d606d);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.bar-container {
  min-width: 700px;
}

.custom-tooltip {
  width: max-content;
  height: 52px;
  border-radius: 10px;
  padding: 12px 15px 0px;
  padding-left: 15px !important;
  flex-shrink: 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.8px; /* 131.667% */
  background-color: #054564;
  display: block;
  position: relative;
}

.bar-label {
  margin: 0px;
}

.bar-desc {
  margin: 0px;
  margin-top: 3px;
}

/*  */

/* for ad */
.ad-img {
  /* position: absolute; */
  width: 386.67px !important;
  height: 196.67px;
  /* top: 0; */
  /* z-index: -1; */
  /* background: white; */
}

.ad-image-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.uploadAds {
  width: 135px;
  height: 48px;
  background: #be4217;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
}

.url-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  gap: 5px;
}

.url-container span {
  font-size: 16px;
  font-weight: 400;
}

.url-text {
  border-radius: 5px;
  width: 270px;
  height: 35px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 400;
  size: 14px;
  line-height: 28.8px;
  color: #608bbe;
  cursor: pointer;
}
.img-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.url-text:focus-visible {
  outline: none;
}

.add-ad {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
}

.admin-body {
  width: 98%;
}

.drop-img {
  border: 1px dashed rgba(93, 96, 109, 0.4);
  width: 386.67px !important;
  height: 235.67px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}

.add-product-drop {
  width: 36.3vw !important;
}

.input-f {
  display: none;
}

.upload h3 {
  font-size: 1rem;
  line-height: 29px;
  margin: 0;
}

.upload p {
  line-height: 27px;
  font-size: 0.75rem;
  color: #5d606d;
  margin: 0;
}

.upload button {
  background: #d9d9d9;
  border-radius: 5px;
  margin: 14px auto 8px;
  border: none;
  cursor: pointer !important;
  padding: 9px 15px;
  pointer-events: none;
}

#label-file-upload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#label-file-upload.drag-active {
  background-color: white;
}

/* for tables */
.category-table {
  /* width: 50% !important; */
  margin: auto;
}
.table-section {
  height: 50px;
  width: 50px;
  border: solid red;
  overflow: hidden;
  margin: auto;
  position: relative;
  transform: translateY(-500px);
}

.table-img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.table-menu-container {
  cursor: pointer;
  width: min-content;
}

.table-menu {
  position: relative;
}

.table-menu ul {
  list-style-type: none;
  position: absolute;
  top: -12px;
  transform: translateX(-69px);
  background: white;
  border-radius: 10px;
  padding: 7.5px 12px;
  border: 1px solid rgba(193, 190, 190, 0.6);
  z-index: 10;
  transform: translateZ(22px);
}

.table-menu li {
  padding: 2.5px;
  cursor: pointer;
}

.deletePrompt {
  border: solid 1px #5d606d;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 25px 40px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 15;
  text-align: center;
  position: fixed;
  min-width: 260px;
  height: 146px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.deletePrompt p {
  margin-bottom: 8px;
}
.deletePrompt span {
  font-size: 18px;
  /* color: #242424; */
  font-weight: 400;
}

.promptBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 87%;
  position: absolute;
  bottom: 20px;
}

.promptBtn button {
  height: 42px;
  width: 120px;
  background: transparent;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  border: solid 1px #5d606d;
}

.promptDel {
  background-color: #aa2e2a !important;
  border: solid 1px #aa2e2a !important;
  color: whitesmoke;
}
/* for-product */

.add-container {
  display: flex;
  width: fit-content;
  justify-content: center;
  /* position: relative; */
  z-index: 15;
  /* position: absolute !important; */
  position: fixed;
  width: 94%;
  height: 89%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 50px;
  /* padding: 20px; */
  scrollbar-width: auto; /* "auto" can also be used */
  scrollbar-color: #f0f0f0 #888888; /* Change these colors as needed */
}

.add-container::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.add-container::-webkit-scrollbar-track {
  background-color: #888888; /* Change the background color of the track */
}

.add-container::-webkit-scrollbar-thumb {
  background-color: #f0f0f0; /* Change the color of the scrollbar thumb */
  border-radius: 4px; /* Add border-radius for a rounded thumb */
}

.add-container::-webkit-scrollbar-thumb:hover {
  background-color: #c4c1c1; /* Change the color of the scrollbar thumb on hover */
}

#products-compare {
  width: 93% !important;
}

#products-compare-id {
  width: 100% !important;
  margin-bottom: 1%;
}

.products-radio-container {
  margin-bottom: 7%;
}

.products-radio-container label {
  margin-bottom: 2%;
}

.radio-btn {
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.radio-btn > span {
  width: 80px;
  height: 100%;
}

.radio-btn > span > input[type="radio" i] {
  transform: scale(1.4);
  margin-right: 12%;
}

.close-add {
  align-self: flex-end;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #be4217;
}

.add-product {
  /* width: 52vw; */
  width: 900px;
  display: grid;
  grid-template-columns: 60% 40%;
  position: relative;
  margin: auto;
  background-color: white;
  /* padding: 2% 10%; */
  padding: 50px 55px 25px;
  border: 1px solid rgba(193, 190, 190, 0.6);
  border-radius: 8px;
  z-index: 10;
  column-gap: 40px;
  margin-top: 80px;
  /* height: 80vh; */
}
.body-scroll-lock {
  overflow: hidden;
}
.add-product-img {
  width: 252px !important;
  height: 160px !important;
}

.product-img-container {
  flex-wrap: wrap-reverse !important;
}

.product-img-sub-container {
  border: 3px dashed #cbd5e1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.add-products-right {
  width: 310px;
}
.product-submit-container {
  margin-top: 5%;
}

.product-submit,
.product-cancel {
  width: 80px;
  height: 38px;
  background: #be4217;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  border: none;
}

.product-cancel {
  width: 84px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  margin-left: 30px;
}

.product-left-item1 {
  display: grid;
  row-gap: 30px;
  column-gap: 5px;
  grid-template-columns: 50% 50%;
}

.input-items {
  display: flex;
  flex-direction: column;
}

.input-items label {
  margin-bottom: 3%;
}
#non-veg {
  width: 100px;
}
.add-products-input {
  width: 82%;
  height: 54px;
  /* background: #ffffff; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 16px;
  /* padding: auto 5% !important; */
}

.add-products-input:focus-visible {
  outline: none !important;
}

input {
  padding: 1px 15px;
}

.input-select {
  /* border: solid red; */
  width: 93% !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16' id='IconChangeColor'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' id='mainIconPathAttribute' stroke-width='1' stroke='%230b0000' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E") !important;
}

select {
  padding: 1px 15px;
  padding-right: 30px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16' id='IconChangeColor'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' id='mainIconPathAttribute' stroke-width='1' stroke='%23f4f4f4' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

select:focus-visible {
  outline: none;
}

/* input[type="text" i],
input[type="number" i] {
  padding: 1px 2% !important;
} */

.input-item-2 {
  width: 100% !important;
}

.input-item-text {
  height: 167px;
  width: 98%;
}

.btns-container {
  display: flex;
  gap: 15px;
}

.btns {
  width: 102px;
  height: 47px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btns-add {
  background: #be4217;
}
.bestseller-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
.btns-add-bestseller {
  width: 135px;
  height: 48px;
  background: #be4217;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
}

.btns-add span,
.btns-ex span {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  /* padding-top: 5%; */
  padding-bottom: 0%;
  height: fit-content;
}

.btns-ex {
  background: #71b646;
}

.table-container-admin {
  border: 1px solid rgba(193, 190, 190, 0.6);
  border-radius: 8px;
  /* width: 94%; */
  padding: 1% 2%;
  padding-bottom: 10px !important;
  min-width: 550px;
}

.table-container-admin th {
  padding: 18px 8px;
  font-weight: bold;
  text-align: left !important;
}

.th-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 55px;
  margin-top: 5%;
}

.page-number {
  font-size: 1.5rem;
  font-weight: 600;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.3s ease; */
}

.page-select {
  background-color: #71b646;
  color: whitesmoke;
}

.table-rows td {
  padding: 18px 5px 20px 5px !important;
  text-align: left !important;
}

.react-table {
  font-size: 1rem;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
  padding: 1%;
  padding-bottom: 5%;
  border-collapse: collapse;
}

/* .react-table hr {
  width: 1120;
  margin: 3px 20px;
} */

.table-head {
  /* border: solid red; */
  height: 50px;
  padding: 10px 15px;
}

.table-rows {
  margin-top: 5%;
  padding: 5%;
  border-bottom: 1px solid rgba(193, 190, 190, 0.5);
  vertical-align: center;
  height: 70px;
  /* border: solid red; */
}

.table-rows th {
  cursor: pointer;
}

/* .span-td{
  display: inline-block;
  width: 180px !important;
  text-align: left !important;
} */

.th-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.react-table img {
  width: 48px;
  height: 48px;
  margin-top: 5%;
  border-radius: 6px;
}

.current-page {
  color: red;
}

.order-up {
  /* border: solid red; */
  position: relative;
  left: 8px;
}

.order-down {
  position: relative;
  top: 5px;
}

.dim {
  color: grey;
}

.select-rows {
  margin-right: 0.8%;
}

.select-rows select {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 5px 18px 4px 10px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16' id='IconChangeColor'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' id='mainIconPathAttribute' stroke-width='1' stroke='%230b0000' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
}

.navigation {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 2%;
  margin-top: 2%;
}

.navigation-btn-container {
  margin-left: 1.5%;
}

.navigation button {
  border: none;
  background: transparent;
  padding-top: 8px;
  font-size: 1.5rem;
  height: fit-content;
  cursor: pointer;
  transform: scale(0.85);
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
}

.search-box {
  display: flex;
  justify-content: space-between;
  /* padding-left: 1% !important; */
  padding-right: 1% !important;
}

.searchClass {
  display: none;
}
.clear-search {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: transparent;
  margin-left: 50px;
}

.searchBtn {
  width: 100%;
  display: flex;
  justify-content: end;
}

#name {
  /* border: solid red; */
  text-align: start;
}

input[type="search" i]:focus {
  outline: none;
}

.tablesearch {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 31vw;
  /* max-width: 620px; */
  height: 47px;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M10.917 9.667h-.659l-.233-.225a5.392 5.392 0 0 0 1.308-3.525 5.417 5.417 0 1 0-5.416 5.416 5.392 5.392 0 0 0 3.525-1.308l.225.233v.659l4.166 4.158 1.242-1.242-4.158-4.166Zm-5 0a3.745 3.745 0 0 1-3.75-3.75 3.745 3.745 0 0 1 3.75-3.75 3.745 3.745 0 0 1 3.75 3.75 3.745 3.745 0 0 1-3.75 3.75Z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

/* for category */

.category-nav {
  list-style-type: none;
  display: flex;
  gap: 13px;
  padding-left: 5px;
}

.category-nav-active {
  color: #ffffff !important;
  background-color: #71b646;
}

.category-nav li {
  font-size: 14px;
  line-height: 19px;
  color: #71b646;
  border-radius: 50px;
  padding: 10px 20px;
  border: solid 1px #71b646;
  cursor: pointer;
  user-select: none;
}

/* for category */
.add-category,
.add-bestseller {
  border: solid 1px #5d606d;
  width: 346px;
  /* height: 217px; */
  padding: 10px 45px 40px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-category-input {
  width: 302px !important;
  margin-top: 5%;
}

.add-category-close {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #777777;
  right: 0;
  top: 5px;
  cursor: pointer;
  position: absolute;
}

.add-category-save {
  width: 102px;
  height: 47px;
  background: #be4217;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  float: right;
  margin-top: 5%;
  margin-right: 3%;

  /* padding: 16px 24px; */
}

.category-container {
  pointer-events: none;
}

.dim-bg {
  background: rgba(0, 0, 0, 0.5);
  z-index: 14;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none !important;
  width: 100%;
  height: 100%;
}

.add-family,
.add-family select {
  margin-top: 5%;
}

.add-family select {
  width: 335px !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16' id='IconChangeColor'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' id='mainIconPathAttribute' stroke-width='1' stroke='%230b0000' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
}

/* for customer */

.add-customer-container {
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #5d606d !important;
  /* border: solid red; */
  width: 50%;
  border-radius: 10px;
}

.add-customer {
  position: relative;
  width: 95%;
  padding: 25px 20px 45px 55px;
  background-color: white;
  border-radius: 10px;
}

.add-save {
  width: 102px;
  height: 47px;
  background: #be4217;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
}

/* for best seller */
.add-bestseller {
  display: grid;
  row-gap: 5px;
  width: 55%;
  padding: 1% 4% !important;
  padding-right: 3% !important;
  transition: height 2s !important;
}

.add-bestseller h3 {
  margin: 5px;
}

.BestSellerBtn {
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding-top: 5%;
  font-size: 1.4rem;
  /* border-radius: 50%*/
}

.bestseller-add-btn {
  width: 102px;
  height: 47px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: white;
  display: flex;
  background: #be4217;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
}

.bestSellerColor {
  color: green !important;
}

.bestseller-remove {
  border: none;
  background-color: transparent !important;
  font-size: 1.2rem;
  color: #ff3434;
}

.bestseller-container {
  /* max-height: 250px;
  height: auto !important; */
  /* height: 10px; */
  border: 1px solid rgba(193, 190, 190, 0.6);
  border-radius: 8px;
  width: 28.7vw;

  padding: 1% 2%;
  /* min-width: 550px; */
  /* overflow-y: scroll; */
  max-height: 200px !important;
  overflow-y: auto;
  margin-bottom: 2%;
  scrollbar-width: auto; /* "auto" can also be used */
  scrollbar-color: rgba(193, 190, 190, 0.6) inherit; /* Change these colors as needed */
}

.bestseller-container::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.bestseller-container::-webkit-scrollbar-track {
  background-color: inherit; /* Change the background color of the track */
}

.bestseller-container::-webkit-scrollbar-thumb {
  background-color: rgba(
    193,
    190,
    190,
    0.6
  ); /* Change the color of the scrollbar thumb */
  border-radius: 8px; /* add border-radius for a rounded thumb */
}

.bestseller-container::-webkit-scrollbar-thumb:hover {
  background-color: #c4c1c1; /* Change the color of the scrollbar thumb on hover */
}

.bestSeller-table {
  width: 100%;
}

.bestseller-container2 {
  border-radius: 8px;
  width: 94%;
  padding: 1% 2%;
  /* min-width: 550px; */
  max-height: 300px;
  overflow-y: auto;
}

@media (max-width: 1250px) {
  .add-product {
    column-gap: 5px;
  }

  .product-left-item1 {
    grid-template-columns: 100%;
  }

  .add-products-input,
  #products-compare {
    width: 80% !important;
  }
  #products-compare-id {
    margin-top: 1%;
  }
  .input-select {
    width: 87% !important;
  }
  .input-item-text {
    width: 88%;
    margin-top: 2%;
  }

  .products-radio-container {
    width: 90%;
    margin-bottom: 0%;
  }

  #desc {
    margin-top: 5%;
  }

  .drop-img {
    width: 280px !important;
  }
}

@media (max-width: 1150px) {
  .admin-nav {
    overflow: hidden;
    /* border: solid red; */
    transform: translateX(-220px);
    top: 120px;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 0;
    opacity: 0;
    /* display: none; */
  }
  .nav-min {
    width: 42px;
    min-width: 42px;
  }
  .nav-text-opacity {
    opacity: 1 !important;
  }
  .nav-toggle {
    /* width: 250px !important; */
    width: 215px;

    padding: 22.5px;
    padding-top: 10px;
    opacity: 1;
    transition: all 0.25s;
    transform: translateX(0px);
    /* display: block; */
  }

  .nav-close {
    display: flex;
  }

  .ham-admin {
    display: block;
  }

  .add-product {
    /* width: 90% !important; */
    width: 75vw;
  }
}

@media (max-width: 1000px) {
  .admin-table-container-admin {
    width: 95%;
  }

  /*  */

  .add-products-input,
  #products-compare {
    width: 90% !important;
  }

  .input-select {
    width: 98% !important;
  }
  .input-item-text {
    width: 97%;
  }

  .add-bestseller {
    width: 88%;
  }

  .new-search {
    width: 58vw !important;
  }
  .bestseller-container {
    width: 54.5vw;
  }
}

@media (max-width: 900px) {
  .add-product {
    /* width: 90%; */
    grid-template-columns: 100%;
  }

  .add-products-right {
    width: 99%;
  }

  .add-products-input {
    width: 95% !important;
  }

  .input-select {
    width: 100% !important;
  }
}
