.addR-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px 104px 38px 37px;
}

.addR-container>.close-btn {
    left: 96%;
}

.addR-content {
    display: flex;
}

.addR-heading {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    /* identical to box height */

    color: rgba(0, 0, 0, 0.8);

    margin-bottom: 16px;
}

.addR-left {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}

.addR-form {
    display: flex;
    flex-direction: column;
}

.addR-form>label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */

    color: rgba(0, 0, 0, 0.8);

    margin-bottom: 16px;
}

.addR-form>input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 484px;
    padding-left: 16px;
    height: 54px;
    outline: none;

    margin-bottom: 24px;
}

.addR-button>button {
    border: none;
    background: #BE4217;
    color: white;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 7px;

    width: 102px;
    height: 47px;
    cursor: pointer;
}

.addR-right {
    display: flex;
    flex-direction: column;
}

.upload-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    margin-bottom: 10px;
}

.border-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #5D606D66;
    border-style: dashed;

    width: 266px;
    height: 197px;

    margin-bottom: 24px;
}

.drop-text {
    /* SL p */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    /* identical to box height, or 180% */

    color: #000000;
}

.support-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;

    /* identical to box height, or 223% */

    /* grey */
    color: #5D606D;
}

.border-d>label>input {

    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 266px;
    height: 197px;
    top: 110px;
    /* border: none; */
    /* cursor: pointer; */
    opacity: 0%;
    color: transparent
        /* margin-top: 15px; */

}

.border-d>label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-d>.choose-file {
    background: #D9D9D9;
    border-radius: 5px;
    padding: 2px 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;

    /* identical to box height, or 223% */

    /* text black */
    color: #181C2F;


}

.choose-file {
    cursor: pointer;

}

.size-text {

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 27px;

    /* identical to box height, or 268% */

    /* grey */
    color: #5D606D;
}

.added-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;

    /* identical to box height, or 206% */

    color: #000000;

    margin-bottom: 10px;
}

.doc-space {
    min-width: 266px;
    min-height: 121px;
    border: 1px dashed rgba(93, 96, 109, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-item: center;
}

.added-doc {


    /* white */
    background: #FFFFFF;
    /* border: 1px dashed rgba(93, 96, 109, 0.4); */
    /* border-radius: 5px; */
    /* border-style: dashed; */
    /* padding-right: 7px;
    padding-bottom: 10px; */
}

.added-doc>img {
    padding-left: 15px;
    padding-top: 15px;
    height: 150px;
    width: 150px;
}

.added-doc>svg {
    position: absolute;
    cursor: pointer;
}