@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display:wght@600&display=swap");
* {
  font-family: "Nunito Sans";
  font-style: normal;
}
:root {
  /* colors variables to use it easily */
  --orange: #be4217;
  --green: #71b646;
  --white: #fff;
  --black: #000;
  --disabled: #747474;
  --gray: #f2f2f2;
}
/* 
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 5px;
} */
.user-page-main-box {
  height: auto;
  width: 863px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /* grid-template-columns: 177px auto; */
  gap: 2px;
  /* position: relative; */
}
.user-page-left-nav {
  width: 25%;
  /* background-color: #213254; */
  /* position: sticky; */
  /* top: 0; */
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(113, 182, 70, 0.04),
    8px 0px 16px rgba(113, 182, 70, 0.08);
  border-radius: 10px 0px 10px 10px;
}
.user-page-pp-userinfo {
  width: 100%;
  height: 92px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0px 20px;
  gap: 10px;
}
.user-page-nav-pp {
  position: relative;
  height: 45px;
  width: 45px;
}
.user-page-nav-pp-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #457889;
  object-fit: cover;
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  /* or 119% */

  letter-spacing: -0.004em;
  color: #fff;
}
.user-page-verified-icon {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.user-page-nav-pn {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: start;
}
.user-page-nav-pn > p {
  line-height: 16px;
  letter-spacing: 0.005em;
  margin: 0;
}
.user-page-nav-pn > p:nth-child(2) {
  color: #0163e0;
}
.profile-Main-Box,
.order-main-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
}
.user-page-nav-lineBreak {
  /* width: 80%; */
  height: 0px;
  border: 1px solid #d9d9d9;
}
.user-profile-nav-links {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.005em;
}

.user-profile-nav-links > ul > li {
  list-style-type: none;
  margin: 20px 0;
  cursor: pointer;
  display: flex;
  width: 250px;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 5px;
}

.user-page-right-info-box {
  text-align: start;
}
.user-page-right-top-bar {
  width: 80%;
  height: 92px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 0 0 0 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 260px;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  position: relative;
}

.profile-top-bar{
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
.user-page-right-top-bar > img {
  height: 55px;
  /* width: 40px; */
  /* border-radius: 0px; */
}
.user-page-right-main-container {
  margin: 0 20px;
  height: auto;
  padding: 0 0 20px 0;
  /* overflow-y: hidden; */
}
.user-page-right-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */
  margin: 0;
  color: #000000;
}

.user-page-edit-profile-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  position: relative;
  width: 80%;
  height: auto;
  display: flex;

  flex-direction: row;
  align-items: center;
  background-color: #fff;
  /* margin: 20px 0 20px 50px; */
  margin: 20px auto;
}
.user-page-right-form-container,
.user-page-address-edit-page-form,
.user-page-address-container {
  width: 80%;
  height: auto;
  /* margin: 0px 0 30px 50px; */
  margin: auto;
  /* position: fixed; */
  /* overflow-y: scroll; */
}
.user-page-right-form-container > form,
.user-page-address-edit-page-form > form {
  display: flex;
  justify-content: space-between;
  /* column-gap: 34px; */
  row-gap: 20px;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* height: 350px; */
  padding: 10px 0;
}
.user-page-form-control {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.user-page-form-input {
  display: flex;
  align-items: center;
}
.togglePassword {
  font-size: 30px;
    position: relative;
    right: 50px;
}

.user-page-form-control > label > span {
  color: red;
}
.user-page-form-control > label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.005em;

  color: #333333;
}
.user-page-form-input > input:hover {
  background-color: var(--white);
  /* border: 0px solid var(--green); */
  box-shadow: inset 0px 0px 0px 2px var(--green);
}
.user-page-form-input > input {
  /* height: 25px; */
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  /* text-transform: capitalize; */
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}
.half {
  width: 45%;
  padding: 0 20px 0 0;
}
.full {
  width: 500px;
}
.user-dp-note {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.005em;

  /* body Text color */

  color: #747474;
}
.user-profile-password-change-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  /* display: block; */
  width: 100%;
  color: #333333;
}
.user-page-profile-details-form-submit-btn {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* padding: 16px 24px; */
  gap: 10px;

  /* position: absolute; */
  width: 102px;
  height: 42px;
  /* left: 203px;
  top: 889px; */

  /* Brand Color 1
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

  letter-spacing: 0.005em;

  color: #ffffff;
  /* Light Green */

  cursor: pointer;
  border: none;
  background: #71b646;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.fillGreen {
  fill: var(--green);
  color: var(--green);
}
.default {
  fill: #747474;
}

.user-page-order-status-container{
  width: 85%;
}

/* order section */
.user-page-order-status {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.005em;
  margin: 0 0 20px 50px;
}

.user-page-order-pending,
.user-page-order-inprogress,
.user-page-order-beingDelivered,
.user-page-order-completed,
.user-page-order-canceled {
  cursor: pointer;
}

.user-page-order-status-active {
  position: relative;
}
.user-page-order-status-active::after {
  content: "";
  position: absolute;
  top: 110%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
}
.order-select-option{
margin: 10px 50px;
display: none;
}
.order-select-option select{ 
  border-radius: 10px;
  padding: 0 10px;
  border: 2px solid #71b646;
  height: 35px;
  font-size: 20px;
}

.order-select-option select:active{
  border: 1px solid #360fc3;
}
/* pending section */
.user-page-order-pending-section,
.user-page-order-Inprogress-section,
.user-page-order-BeingDelivered-section,
.user-page-order-Canceled-section,
.user-page-order-Completed-section {
  width: 80%;
  /* background-color: #1248; */
  /* height: 100px; */
  margin: 0px 50px;
}

/* order- items */

.user-page-order-main-content {
  /* margin-top: 10px; */
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  /* height: 350px; */
  /* scroll-snap-type: y mandatory;  */
  margin-bottom: 50px;
}
.user-page-order-item {
  scroll-snap-align: start;
  width: 100%;
  height: 138px;

  background: #ffffff;

  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 10px 0;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
}
.user-page-order-product-details {
  width: 45%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.user-page-order-product-action {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-page-order-titles{
  width: 90px;
}
.user-page-order-delete-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user-page-order-view-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 16px 24px; */
  gap: 10px;

  width: 102px;
  height: 42px;
  color: white;
  /* Brand Color 2

Color 2
*/
  background: var(--orange);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;

  cursor: pointer;
}
/* address book */
.user-page-address-section {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  /* padding: 0 0 50px 0; */
}
.user-page-address-billingaddress-title,
.user-page-address-shippingaddress-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.user-page-address-billingaddress,
.user-page-address-shippingaddress {
  /* text-align: start; */

  width: 45%;
}
.user-page-address-bar {
  width: 90%;
  border: 1px solid #d9d9d9;
  margin: 10px 0;
}
.user-page-billingaddress-details,
.user-page-shippingaddress-details {
  display: flex;
  gap: 30px;
}
.user-page-billing-address-column,
.user-page-shipping-address-column {
  display: flex;
  gap: 20px;
}

.user-page-address-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  width: 50%;
}
.user-page-address-answer {
  text-align: start;
  width: 50%;
}
.user-page-billing-address-row,
.user-page-shipping-address-row {
  width: 90%;
}

.user-page-billingaddress-details-answer,
.user-page-shippingaddress-details-answer {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  color: #000000;
}
.user-page-billingaddress-details-heading > p,
.user-page-shippingaddress-details-heading > p {
  margin: 10px 0;
}
.user-page-billingaddress-details-answer > p,
.user-page-shippingaddress-details-answer > p {
  margin: 10px 0;
}
.user-page-address-edit-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  display: inline;
  /* align-items: center; */

  /* Brand Color 1 */
  cursor: pointer;
  color: #71b646;
}
/* .user-page-address-edit-page-container {
  width: 90%;
} */
.user-page-address-edit-page-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}
.user-page-address-edit-page-title-bar {
  width: 85%;
}

.user-page-map-instruction {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: uppercase;

  color: #333333;
}
.user-page-address-edit-page-submit-btn {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* padding: 16px 24px; */
  /* gap: 10px; */
  color: #fff;
  /* position: absolute; */
  width: 177px;
  height: 42px;

  /* Brand Color 1

Light Green
*/
  background: #71b646;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  cursor: pointer;
}
/* ******************************************************** */

.deleviryLocationDetailsdiv {
  /* padding: 50px 0px; */
  width: 100%;
}

.deleviryLocationDetailsMapBox {
  width: 100%;
  height: 297px;
}
.deleviryLocationDetails {
  width: 100%;
  margin: 40px 0 0 0;
}
.deleviryLocationDetailsBoxTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.0015em;
  text-transform: capitalize;
}
.deliveryAddress {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}


/* ******************************************************** */

/* wallet */
.user-page-tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.005em;

  /* body Text color */

  color: #747474;
}
.user-page-wallet-desc {
  width: 100%;
  /* height: 345px; */
  display: flex;
  /* overflow-y: scroll; */
}
.user-page-wallet-left {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.user-page-wallet-left > span {
  margin: 8px 0;
}
.wallet-available,
.wallet-earned,
.wallet-redeem {
  font-size: 16px;
  font-weight: 600;
  width: 350px;

  display: inline;
}
.wallet-available-amount {
  color: #71b646;
}
.wallet-earned-amount,
.wallet-redeem-amount {
  color: #be4217;
}

.walletButtons {
  position: relative;
  display: flex;
  gap: 50px;
  width: 100%;
  margin: 25px 0;
}
.wallet-loadwallet {
  width: 137px;
  height: 54px;
  padding: 16px 24px;
  background-color: #71b646;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: 400;
}
.wallet-view-statement {
  width: 165px;
  height: 54px;
  padding: 16px 24px;
  background: #be4217;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}

.wallet-note-box {
  width: 80%;
  height: auto;
  background: #fcfcfc;
  border: 1px dashed #333333;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px 20px;
}
.wallet-note {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  text-align: justify;
  color: #333333;
}
/* .wallet-image {
  padding: 0 20px;
} */

/* order view */
.Vpop-container {
  height: 150vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  color: black;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

.view-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  position: fixed;
  width: 992px;
  /* height: 942px; */
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 20px 70px 47px 60px;
}
.logo-view{
  align-self: center;
}

.logo {
  align-self: center;
}

.close-button {
  position: absolute;
  left: 97%;
  bottom: 94%;
}

.close-button button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.heading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 24px;

  color: rgba(0, 0, 0, 0.8);
}

.detail-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left-details {
  display: flex;
}

.title-conatiner {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin: 0 20px 10px 0;
}

.data {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  color: #000000b2;
  margin-bottom: 10px;
}

.gap {
  margin-bottom: 34px;
}

.right-details {
  display: flex;
}

.invoice-table table {
  width: 100%;
  text-align: center;
}

.invoice-table table,
.invoice-table th,
.invoice-table td {
  border: 2px solid #d9d9d9;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  padding: 10px 0;
}

.displayOrderView {
  display: block;
}
.hideOrderView {
  display: none;
}
.link {
  text-decoration: none;
}

.order-view-comment-section {
  margin: 20px 0;
  height: auto;
  width: 100%;
}
.order-view-comment-title {
  display: flex;
  flex-direction: column;
}
.order-view-comment-title > span:nth-child(1) {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.0015em;
  text-transform: capitalize;
}
.order-view-comment-title > span:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.005em;

  color: #333333;
}
.user-page-order-product-name{
  display: flex;
  gap: 10px;
}
.user-page-order-details{
  word-wrap: break-word;
    width: 65%;
   
}
.order-view-comment-star-section {
  margin: 20px 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
.order-view-comment-star-section > span:nth-child(1) {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  /* text black */

  color: #181c2f;
}
.order-view-comment-stars {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.order-view-edit-star {
  cursor: pointer;
}
.order-view-comment-box {
  width: 95%;
  height: 112px;
  resize: none;
  border: 2px solid rgba(93, 96, 109, 0.2);
  border-radius: 4px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175.7%;
}

.order-view-comment-box-input-field {
  width: 95%;
  height: 112px;
  resize: none;
  border: 2px solid rgba(93, 96, 109, 0.2);
  border-radius: 4px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175.7%;
  /* identical to box height, or 28px */
}

.noOrders {
  font-size: 24px;
  text-align: center;
}

.stars {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  font-size: 1rem;
  color: orange;
}
.empty-icon {
  font-size: 1.2rem;
  color: orange;
}

.comment-submit-btn {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 102px;
  height: 42px;

  letter-spacing: 0.005em;

  color: #ffffff;

  cursor: pointer;
  border: none;
  background: #71b646;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
/* .dropdown {
  position: relative;
  display: none !important;
} */
.wallet-title,
.user-page-address-title {
  flex-direction: column;
  align-items: flex-start;
}
.leftNav-display {
  transform: translateX(-200px);
  z-index: 999;
}
.leftNav-hide {
  /* transform: translateX(0); */
  transform: translateX(0px);
}
.user-page-order-dropdown-content {
  /* font-weight: 400; */
  /* font-size: 16px; */
  /* line-height: 26px; */
  text-align: justify;
  /* display: none; */
  position: relative;
  width: 455px;
  z-index: 1;
}
/* .dropdown:hover .user-page-order-dropdown-content {
  display: block;
} */
.dropdown {
  /* display: inline !important; */
  display: flex !important;
  flex-direction: column;
  /* align-items: flex-start !important; */
}

@media screen and (max-width: 900px) {
  
  .user-page-order-status {
    display: none;
  }
  .dropdown-title {
    list-style-type: none;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
  }
  /* .non-dropdown {
    display: none !important;
  } */

  .order-select-option{
    display: block;
    margin:10px 20px 20px 20px;
  }
  .user-page-left-nav {
    /* display: none; */
    width: 200px;
    position: absolute;

    z-index: 9;
  }
  .user-page-main-box {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .user-page-right-info-box {
    width: 90vw;
    position: relative;
    margin: auto;
    height: 100vh;
  }

  /* .user-page-orders-container,
  .user-page-address-edit-page-form {
    width: 100%;
  } */

  .user-page-address-section {
    flex-direction: column;
    gap: 50px;
  }
  /* .user-page-address-heading {
    width: 100%;
  }
  .user-page-address-answer {
    width: 100%;
  } */
  .user-page-address-billingaddress,
  .user-page-address-shippingaddress {
    width: 100%;
  }

  .user-page-order-product-details {
    width: 60%;
  }
}
@media screen and (max-width: 800px){
  .user-page-right-top-bar{
    margin-top: 95px;

  }
}
@media screen and (max-width: 700px) {
  .user-page-order-product-action {
    gap: 10px;
    justify-content: space-around;
  }
  /* .user-page-left-nav {
    display: none;
  } */

  .user-page-order-product-name {
    /* display: flex; */
    gap: 53px;
    margin: 5px 0;
}
  .user-page-order-status {
    display: none;
  }
  .user-page-main-box {
    position: relative;
    width: 100%;
  }
  .user-page-right-info-box {
    width: 90vw;
    position: relative;
    margin: auto;
  }

  /* .user-page-orders-container,
  .user-page-address-edit-page-form {
    width: 100%;
  } */
  .user-page-form-control {
    width: 100%;
    padding: 0;
  }
  .user-page-edit-profile-title {
    font-size: 24px;
  }

  .user-page-order-item {
    height: 225px;
    flex-direction: column;
  }
  .user-page-order-product-details {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .user-page-edit-profile-title {
    font-size: 24px;
  }
  .user-page-order-item {
    flex-direction: column;
    height: auto;
  }
  .user-page-order-product-details {
    width: 100%;
  }
  .user-page-order-product-action {
    justify-content: space-evenly;
    gap: 80px;
  }
  .user-page-order-delete-btn {
    width: 143px;
  }
}

@media screen and (max-width: 475px) {
  .user-page-order-product-action {
    gap: 40px;
  }
  .user-page-right-top-bar {
    width: 90%;
  }
  .user-page-order-product-name{
    /* word-wrap: break-word;
      width: 65%; */
     font-size: 12px;
     gap: 0;
  }
  .user-page-edit-profile-title{
    margin-left:15px ;
  }
  .user-page-order-pending-section{
    margin-left: 15px;
    width: 90%;
  }
}
