.pop-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  color: black;
}

.product-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px 104px 38px 37px;
}

.product-top {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  left: 97%;
  bottom: 95%;
}

.close-btn button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.heading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  /* identical to box height */

  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-bottom: 24px;
}

.product-content > form {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  overflow-y: scroll;
  height: 500px;
  width: 550px;
}

/* .left form {
    display: flex;
    flex-direction: row;
} */

.left label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 40px;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */

  color: rgba(0, 0, 0, 0.8);

  margin-bottom: 15px;
}

.left > input {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 308px;
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  outline: none;
}

.left select {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 325px;
  padding: 15px 0 15px 16px;
  margin-bottom: 20px;
  outline: none;
}

.left .save-button {
  align-self: end;
}

.left button {
  background: #be4217;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  border: none;
  color: white;
  width: auto;
  padding: 12.5px 33px;
  justify-self: end;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */

  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 16px;
}

.search-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.search-drop {
  position: absolute;
  z-index: 999;
  top: 26%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 610px;
  margin-top: 5px;
  background-color: #ffffff;
}

.droprow {
  padding: 5px 0 5px 16px;
}

.droprow:hover {
  background-color: #f2f3f3;
}

.search-product input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 17px 0 18px 16px;
  width: 610px;
  outline: none;
}

.product-table table {
  overflow-y: auto;
  display: block;
  height: 400px;
}

th,
td {
  padding: 20px;
}

.trashcan button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.desc-col {
  display: flex;
  flex-direction: column;
}

.qty-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-col .mbtn {
  border: 1px solid black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
  border-right: none;
  padding: 11px 7px;
  cursor: pointer;
}

.qty-col span {
  border: 1px solid black;
  padding: 8px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty-col .pbtn {
  border: 1px solid black;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  border-left: none;
  padding: 11px 5px;
  cursor: pointer;
}

.aline {
  width: 831px;
  height: 0px;

  border: 1px solid #d9d9d9;
}
