.Vpop-container {
  height: 100%;
  width: 100%;
  position: relative;
  /* z-index: 1; */
  color: black;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

.view-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  position: relative;
  width: 979px;
  /* height: 942px; */
  height: 90%;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* overflow-y: scroll; */
  border-radius: 10px;
  padding: 20px 70px 47px 60px;
}

.logo {
  align-self: center;
}

.close-button {
  position: absolute;
  left: 97%;
  bottom: 94%;
}

.close-button button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.heading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 24px;

  color: rgba(0, 0, 0, 0.8);
}

.detail-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left-details {
  display: flex;
}

.title-conatiner {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin: 0 20px 10px 0;
}

.data {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  color: #000000b2;
  margin-bottom: 10px;
}

.gap {
  margin-bottom: 34px;
}

.right-details {
  display: flex;
}

.invoice-table table {
  width: 100%;
  text-align: center;
}

.invoice-table table,
.invoice-table th,
.invoice-table td {
  border: 2px solid #d9d9d9;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  padding: 10px 0;
}
