@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display:wght@700&display=swap");
:root {
  --orange: #be4217;
  --green: #71b646;
  --white: #fff;
}
.container {
  max-width: 1440px !important;
}

.top-banner-container {
  margin-top: 250px;
}
.carousel-container {
  width: 100%;
  height: auto;
}
.carousel-inner {
  border-radius: 15px;
}
.img-height {
  display: flex;
  justify-content: center;
  height: 95vh;
  border-radius: 15px !important;
  object-fit: contain;
}
.topBanner-item {
  max-width: 1160px;
  height: 590px;
  object-fit: cover;
  position: relative;
}
/*.carousel-caption {
  position: static !important;
}
/* .topBanner-caption {
  position: absolute;
  height: 100%;
  left: 0 !important;
  width: 100%;
} 
.topBanner-title {
  color: var(--orange);
  font-family: "Playfair Display", serif;
  font-size: 6vw;
}
.topBanner-title span {
  color: var(--green);
}
.title-container {
  max-width: 559.05px;
  height: 252px;
  position: absolute;
  left: 99px;
  top: 100px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 84px;
  text-align: start;
}
.topBanner-description {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #747474;
  text-align: start;
  
  position: absolute;
  width: 566px;
  height: 321px;
  left: 99px;
  top: 330px;
}
.topBanner-button button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 5px;
  position: absolute;
  width: 155px;
  height: 42px;
  left: 99px;
  top: 400px;
  color: var(--white);
  border: none;
  background: var(--orange);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
} */
.container{
  padding: 0;
}
.carousel-indicators [data-bs-target] {
  height: 13.77px !important;
  width: 13.77px !important;
  border-radius: 50% !important;
  
}
/* .carousel-indicators{
  
} */
.carousel-control-prev,
.carousel-control-next{
  display: none!important;
}
.carousel-indicators{
  align-items: center;
}
.carousel-indicators {
  /* height: 8px !important;
  width: 8px !important; */
  margin-bottom: 0!important;
}
@media screen and (max-width: 800px) {
  .top-banner-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .img-height {
    height: 60vh;
  }
  .carousel-indicators [data-bs-target] {
    height: 8px !important;
    width: 8px !important;
  }
}
@media screen and (max-width: 425px) {
  .img-height {
    height: 45vh;
  }
  .carousel-indicators {
    /* height: 8px !important;
    width: 8px !important; */
    margin-bottom: 0!important;
  }
}
@media screen and (max-width: 320px) {
  .img-height {
    height: 30vh;
  }
  .carousel-indicators {
    /* height: 8px !important;
    width: 8px !important; */
    margin-bottom:1rem!important;
  }

}